<!DOCTYPE html>
<html>
<head>
<title>Nota fiscal</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Aplicação de imprimir nota fiscal</h1>

		<form>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nota Fiscal</th>
						<th scope="col">Data Emissão</th>
						<th scope="col">Fornecedor</th>
						<th scope="col">Imprimir</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>33804012</td>
						<td>11/03/2021</td>
						<td>Mallory</td>
						<td><button type="button" class="btn btn-success">IMPRIMIR</button></td>

					</tr>
					<tr>
						<td>33804013</td>
						<td>12/03/2021</td>
						<td>Mallory</td>
						<td><button type="button" class="btn btn-success">IMPRIMIR</button></td>

					</tr>					
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>